<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
        <style>
            body{background-color: rgb(238, 237, 163);}
            h1{font-family: Amita;
            font-size: 40px;}
            p{font-family: 'Annie Use Your Telescope';font-size: 25px; }
            label{ font-family: 'Arapey';font-size: 22px;}
            td{font-family: 'Arapey';font-size: 17px;}
            a{
                background-color: whitesmoke;
                color: black;
                padding: 3px 12px;
                text-align: center;
                display: inline-block;
                text-decoration: none;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
        <body>
            {% load static %}
            
            <h1>Confirmation Page</h1>
            <p>Please check the data!</p>
            
            <form method="POST" action="{% url 'confirmation' %}">
                {% csrf_token %}
                <label name="name" ><b>Name</b></label>
                <input type="text" class="form-control" id="name" name="name" maxlength="20" value={{name}} readonly><br>
                <label name="status"><b>Status</b></label>
                <input type="text" class="form-control" id="status" name="status" maxlength="20" value={{status}} readonly><br>
                <input type="submit" value="Yes" name="yes" id="yes"> 
                <a href="{% url 'index' %}" id="no" name="no">No</a>
            </form>
            
        </body>
</html>
