<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
        <style>
            body{background-color: rgb(238, 237, 163);}
            h1{font-family: Amita;
            font-size: 40px;}
            p{font-family: 'Annie Use Your Telescope';font-size: 25px; }
            label{ font-family: 'Arapey';font-size: 22px;}
            td{font-family: 'Arapey';font-size: 17px;}
            td.name1{color:rgba(0,0,0);}
            td.status1{color:rgba(0,0,0);}
            td.time1{color: rgba(0,0,0);}
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
    <body>
        <center>
            <br>
        <h1>Hello! Welcome!</h1>
        <hr border="0.2" width=45% color="black">
        <p><b>Tell me your name and how do you feel!</b></p>
        <button id="color" onclick="colorchange()">Click to change color</button>
        <form method="POST" >
        {% csrf_token %}
        <br>
        <label> Name</label>
        <input type="text" class="form-control" id ="name" name="name" maxlength="20" required >
        <label>Status</label>
        <input type="text" class="form-control" id="status" name="status" maxlength="20" required>
        <input type="submit" value="submit" name="submit">
        </form>
            <br>
        <table width="300">
            <tr>
                <td>Name</td>
                <td>Status</td>
                <td>Date</td>
            </tr>
            {% for i in data %}
            <tr>
                <td class="name1">{{i.name}}</td>
                <td class="status1" > {{ i.status }} </td> 
                <td class="time1">{{ i.date}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </center>
    </body>
    <script>
        function colorchange(){
            var n = document.getElementsByClassName("name1");
            var s = document.getElementsByClassName("status1");
            var t = document.getElementsByClassName("time1");
            var i;
            for(i=0;i<n.length;i++){
                n[i].style.color ="rgba(113,118,45)";
            }
            for(i=0;i<s.length;i++){
                s[i].style.color="rgba(113,118,45)";
            }
            for(i=0;i<t.length;i++){
                t[i].style.color="rgba(113,118,45)";
            }
        }
    </script>
</html>